body{
	font-family: arial, sans-serif;
}

h1{
	font-size: 25px;
	margin-left: 10px;
	margin-top: 10px;
}

h2{
	font-size: 18px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#winText, #lossText{
	padding: 15px 5px 5px 10px;
	height: 20px;
	text-align: right;
	display: inline-block;
	margin: 0;
	font-weight: bold;
}

#wins, #losses{
	display: inline-block;
	text-align: left;
	width: 150px;
	padding: 15px 0 5px 0;
	height: 20px;
	margin: 0;
}

#remText, #guessText{
	padding: 15px 5px 5px 10px;
	height: 20px;
	text-align: right;
	display: inline-block;
	margin: 0;
	font-weight: bold;
}

#remaining, #guesses{
	display: inline-block;
	text-align: left;
	padding: 15px 0 5px 0;
	height: 20px;
	margin: 0;
}

#remaining{
	width: 150px;
}

#wins{
	border-right: 2px;
	border-style: solid
}

.scoreArea, .playerTrack{
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin: 10px;
	overflow: auto;
}

.scoreArea{
	margin-right: auto;
}

.scoreArea{
	height: 40px;
	display: inline-block;
}

.segment{
	overflow: auto;
	width: 100%;
	display: inline-block;

}

button{
	margin: 10px;
}